# Copyright (C) 2013  Jim Turner
#
# This file is derived from the relevant file in GitHub's gitignore project,
# located at <https://github.com/github/gitignore>.
# (Copyright (c) 2013 GitHub, Inc.)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

auto/
_region_.prv/
_region_.tex
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.eps
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.swp
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
